<%= form_for(@url) do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>
      <ul>
      <% @url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="eight columns alpha">
      <%= f.text_field :original, placeholder: 'original' %>
    </div>
    <div class="four columns omega">
      <%= f.submit "Shorten Url" %>
    </div>
  </div>
<% end %>
