<h1>New Url</h1>
<p id="notice"><%= notice %></p>
<%= render 'form' %>
<h2>Recent Urls</h2>
<% @urls.each do |url| %>
  <p id="<%= dom_id(url) %>"><strong>Original: <%= url.original %></strong>&emsp;
     <strong>Shortened: <%= url.shortened %></strong>&emsp;
     <strong>Active: <%= url.active %></strong>
     <strong>Views: <%= url.views %></strong>
  </p>
<% end %>
<h2>Popular Urls</h2>
<% @popular_urls.each do |url| %>
  <p id="<%= dom_id(url) %>"><strong>Original: <%= url.original %></strong>&emsp;
     <strong>Shortened: <%= url.shortened %></strong>&emsp;
     <strong>Active: <%= url.active %></strong>
     <strong>Views: <%= url.views %></strong>
  </p>
<% end %>
<!-- <%= link_to 'Back', urls_path %> -->
