<h1>New Url</h1>
<p id="notice"><%= notice %></p>
<%= render 'form' %>
<h2>Recent Urls</h2>
<% @urls.each do |url| %>
  <p id="<%= dom_id(url) %>"><strong>Original: <%= url.original %></strong>&emsp;
     <strong>Shortened: <%= url.shortened %></strong>&emsp;
     <strong>Active: <%= url.active %></strong>
     <strong>Views: <%= url.views %></strong>
  </p>
<% end %>

<% if @popular_urls %>
  <div class= 'popular_urls'>
  <h2>Popular Urls</h2>
  <ul>
  <% @popular_urls.each do |url| %>
    <li id="<%= dom_id(url) %>"><strong>Original: <%= url.original %></strong>&emsp;
       <strong>Shortened: <%= url.shortened %></strong>&emsp;
       <strong>Active: <%= url.active %></strong>
       <strong>Views: <%= url.views %></strong>
    </li>
  <% end %>
  </ul>
</div>
<% end %>
<!-- <%= link_to 'Back', urls_path %> -->
