<h1>New Url</h1>
<p id="notice"><%= notice %></p>
<%= render 'form' %>
<% @urls.each do |url| %>
  <p><strong>Original: <%= url.original %></strong>&emsp;
     <strong>Shortened: <%= url.shortened %></strong>&emsp;
     <strong>Active: <%= url.active %></strong>
  </p>
<% end %>
<!-- <%= link_to 'Back', urls_path %> -->
