<div class="container">
  <div class="row add-top">
    <div class="five columns responsive">
      <h2>More with Minly</h2>
      <p>You would like to know more about people that are using your links. Valuable information such as the location, referrer, device type, browser are readily available in our user section.</p>
      <%= link_to("User section", dashboard_url, class: "button button-primary") %>
    </div>
    <div class="six columns offset-by-one right">
      <%= image_tag "webanalytics.png" %>
    </div>
  </div>
  <div class="row add-top"></div>
</div>
    <!-- <div class="eight columns offset-by-two">
      <h2> <%= @notification? @notification.first : "Description" %> </h2>
        <p>
        <% if @notification %>
          <%= @notification.last %>
        <% end %>
      </p>
    </div> -->
<hr />
<div class="container">
  <section class="row add-top">
    <div class="one-half column">
      <img src="http://www.eleventhedition.com/wp-content/uploads/2015/02/responsive.png" alt="responsive" />
      <h4>Popular Minlys</h4>
      <%= show_in_list_format(@popular_urls) %>
    </div>
    <div class="one-half column">
      <img src="http://www.eleventhedition.com/wp-content/uploads/2015/02/responsive.png" alt="responsive"/>
      <h4>Recent Minlys</h4>
      <p><%= show_in_list_format(@urls) %></p>
    </div>
  </section>
</div>
<!-- <%= link_to 'Back', urls_path %> -->
