<h4> Edit </h4>
<%= form_for(@urls.last) do |f| %>
  <%= label_tag(:original, "Edit target url") %>
  <%= f.text_field :original %>
  <%= f.check_box :active %>
  <%= label_tag(:active, "Active") %>
  <%= f.submit "save" %>
  <%= link_to 'delete', @urls.last, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
