<header class="min_header">
  <div class="container">
    <div class="three columns">
      <div class="logo">
        <%= link_to "Minly", root_path %>
      </div>
    </div>
    <%= render "urls/login_logout" %>
  </div>
</header>

<section class="urls_form">
  <div class="row">
    <%= form_for(Url.new) do |f| %>
      <div class="seven columns">
        <%= f.text_field :original, placeholder: "Original" %>
      </div>
      <div class="two columns">
        <%= f.text_field :shortened, placeholder: "custom string" %>
      </div>
      <div class="two columns">
        <%= f.submit "Shorten Url" %>
      </div>
    <% end %>
    </div>
    <%= display_notification flash %>
</section>

<section class="urls">
    <div class= "row">
      <div class="four columns offset-by-four">
        <h2>Url Statistics</h2>
      </div>
    </div>
    <div class="row">
      <div class="two-thirds column">
        <div class="url-listing">
          <%= show_in_list_format(@urls) %>
        </div>
      </div>

      <div class="one-third column">
        <div class="statistics">
          <%= get_statistics(@urls.last) %>
        </div>
        <div class="edit_form">
          <%= render "edit_form" %>
        </div>
      </div>
    </div>
</section>
