<%= form_for(Url.new, remote: true) do |f| %>
  <% fieldwidth = get_fieldwidth %>
  <div class="row">
    <div class="<%= fieldwidth.first %> columns offset-by-<%= fieldwidth.second %> right">
      <%= f.text_field :original, placeholder: 'original url', class: "u-full-width" %>
    </div>
    <% if current_user %>
      <div class="three columns">
        <%= f.text_field :shortened, placeholder: "custom string(optional)", class: "u-full-width" %>
      </div>
    <% end %>
    <div class="<%= fieldwidth.last %> columns">
      <%= f.submit "Test it out", class: "u-full-width button-primary create-submit" %>
    </div>
  </div>
<% end %>
