<div class="container" id="header">
  <div class="row">
    <header class="banner">
      <div class="one-half column">
        <div class="logo u-pull-left">
          <%= link_to(image_tag("minly-black.png"), root_path) %>
        </div>
      </div>
      <div class="one-half column">
        <%= render "layouts/navbar" %>
      </div>
    </header>
  </div>
  <section class="row">
    <div class="twelve columns">
      <div class="welcome">
        <h1><%= header_message %></h1>
        <p class="toggle-display"><%= header_tagline %></p>
        <div class="add-top toggle-display"><%= render 'layouts/form' %></div>
        <div id="form-ajax-loader"><%= image_tag "intersection.gif" %></div>
        <div id="notification" class="toggle-display"><%= display_notification flash %></div>
      </div>
    </div>
  </section>
</div>
